node_modules/
*.log
.DS_Store
*.bdelf
*.bdeplf
.vscode/

# Ejecutables, empaquetados y compilaciones
dist/
dist-win/
dist-mac/
dist-linux/
release/

# Scripts locales de usuario
Subir_a_GitHub.bat

# Carpetas de respaldo
Respaldo/
